.editor-drawer {
    width: 80%;
    margin: 0 auto;

    &__inner {
        position: relative;
        margin-top: 10px;
        display: flex;

        flex-wrap: wrap;

    }

    &__start {
        position: relative;
        pointer-events: none;
        width: 140px;
        height: 60px;
        margin-bottom: 20px;
    }

    &__key {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 10px;
        z-index: 100;

        &._treble {
            transform: rotate(-4deg);
            top: -28px;
        }

        &._bass {
            top: 1px;
        }
    }

    &__key-img {
        z-index: 100;
    }

    &__bracket {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 28px;

        &::before {
            position: absolute;
            pointer-events: none;
            top: 45px;
            right: -10px;
            content: '';
            width: 0%;
            height: 220px;
            border-left: 2px solid black;
        }
    }

    &__bracket-instrument {
        font-family: 'TimesNewRoman';
        margin-right: 10px;
        margin-bottom: 4px;
    }

    &__bracket-img {
        height: 220px;
    }

    &__lines-start {
        pointer-events: none;
        position: relative;
        top: -10px;
        z-index: 999;
        width: 100%;

    }

    &__signature {
        top: -9px;
        left: 64px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__signature-number {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Maestro;
        font-size: 46px;
        line-height: 24px;
    }


    &__section {
        position: relative;
        width: 100%;
        display: flex;

        flex-wrap: wrap;
        justify-content: center;


        &::before {
            pointer-events: none;
            top: 45px;
            right: -1px;
            position: absolute;
            content: '';
            height: 220px;
            border-left: 2px solid black;
        }
    }

    &__tact {
        flex: 1 1 auto;
        height: 100%;

    }
    &__track-wrapper {
        display: flex;
        align-items: center;
    }

    &__track {
        width: 100%;
        height: 130px;
        position: relative;
        margin-bottom: 40px;

        display: flex;
        align-items: center;
    }

    &__track-fake {
        z-index: 1000;
        top: 0;
        position: absolute;
        height: 130px;
        width: 100%;
    }

    &__lines {
        position: relative;
        z-index: 999;
        width: 100%;

        &::after {
            pointer-events: none;
            top: 12px;
            left: -1px;
            position: absolute;
            content: '';
            width: 100%;
            height: 48px;
        }

        &::before {
            pointer-events: none;
            top: 12px;
            right: -1px;
            position: absolute;
            content: '';
            width: 100%;
            height: 48px;
            border-right: 2px solid black;
        }
    }

    &__line {
        pointer-events: none;

        width: 100%;
        height: 2px;
        background: black;
        margin-top: 10px;
    }

    &__note,
    &__note-edit {
        z-index: 1001;
        position: absolute;

        width: 20px;
        height: 12px;


        background: black;

        border-radius: 50%;

        &::after {
            transform: rotate(60deg);
            border-radius: 60%;
            top: 2px;
            left: 5px;
            position: absolute;
            content: '';
            width: 10px;
            height: 8px;
            background: white;
        }

    }

    &__note-edit {
        background: rgb(116, 116, 116);
    }

    &__note-flat,
    &__note-sharp,
    &__note-natural {
        font-size: 10px;
        position: absolute;

        left: -15px;
        top: 0px;
    }

    &__note-natural {
        font-size: 16px;

        top: -6px;
    }

    &__note-line,
    &__note-line-edit {
        position: absolute;
        top: 5px;
        left: -4px;
        width: 28px;
        height: 2px;

        background: black;
    }

    &__note-line-up,
    &__note-line-up-edit {
        position: absolute;
        top: -1px;
        left: -4px;
        width: 28px;
        height: 2px;

        background: black;
    }

    &__note-line-down,
    &__note-line-down-edit {
        position: absolute;
        bottom: -1px;
        left: -4px;
        width: 28px;
        height: 2px;

        background: black;
    }

    &__note-line-edit,
    &__note-line-up-edit,
    &__note-line-down-edit {
        background: rgb(116, 116, 116);

    }
}