.notification {
  transition: all 0.3s ease 0.1s;
  position: fixed;
  bottom: 20px;
  left: 5px;
  z-index: 10000;
  visibility: visible;
  opacity: 1;
  pointer-events: none;

  @media (max-width: 767px) {
    top: 5px;
  }

  display: flex;
  align-items: flex-start;
  justify-content: center;

  &__inner {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);

    pointer-events: all;
    background: #f8f8f8;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 70px 20px 50px;
    border-radius: 20px;
    max-width: 260px;
    margin: 0 10px;

    @media (max-width: 767px) {
      padding: 25px;

    }
  }

  &__close {
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    position: absolute;
    top: 14px;
    right: 20px;
    font-size: 20px;
  }

  &__title {
    margin-top: 10px;
    text-align: center;

    font-size: 24px;
    line-height: 49px;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 700;

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }


  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}