@font-face {
    font-family: "Maestro";
    font-weight: 400;
    src: url("./../../fonts/Maestro.ttf"),
}

@font-face {
    font-family: "TimesNewRoman";
    font-weight: 400;
    src: url("./../../fonts/TimesNewRoman.ttf"),
}


.editor {
    background: white;
    width: 90%;
    margin: 0 auto;
    @media (max-width: 991px) {
      display: none;
    }
}