.editor-drawer-tact {

    position: relative;
    height: 100%;

    display: flex;
    align-items: center;

    &._active {
        &::before {
            content: '';
            width: 100%;
            height: calc(100% - 120px);
            position: absolute;
            top: 45px;
            background: rgb(231, 163, 163);
            left: 0px;
        }
    }

    &__tracks {
        flex: 1 1 auto;
    }

    &__bracket {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 28px;

        &::before {
            position: absolute;
            pointer-events: none;
            top: -1px;
            right: -10px;
            content: '';
            width: 0%;
            height: 220px;
            border-left: 2px solid black;
        }
    }

    &__bracket-instrument {
        font-family: 'TimesNewRoman';
        font-weight: 700;
        margin-right: 10px;
        margin-bottom: 4px;
    }

    &__bracket-img {
        height: 220px;
    }
}