.editor-drawer-tact {

    user-select: none;
    position: relative;
    height: 100%;

    display: flex;
    align-items: center;

    &._active, &._ready {
        .editor-drawer-tact__tracks {
            &::before {
                content: '';
                width: 100%;
                z-index: -1;
                height: calc(100% - 120px);
                position: absolute;
                top: 45px;
                background: rgb(231, 163, 163);
                left: 0px;
            }
        }
    }

    &._last {
        &::after {
            position: absolute;
            pointer-events: none;
            top: 45px;
            right: -1px;
            content: '';
            width: 0%;
            height: 220px;
            border-left: 2px solid black;
        }
    }

    &__tempo {
        user-select: none;

        &._first {

            left: 80px;
        }

        left: 10px;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        z-index: 100;
    }

    &__tempo-equal {
        user-select: none;
        font-family: "TimesNewRoman";
        font-weight: 700;
        font-size: 24px;
        margin: 0 4px;
        line-height: 0;
        height: 9px;
    }

    &__tempo-note {
        user-select: none;
        font-family: Maestro;
        line-height: 0;
        height: 9px;
        font-size: 20px;
    }

    &__tempo-tempo {
        user-select: none;
        font-family: "TimesNewRoman";
        font-weight: 700;
        font-size: 20px;
    }

    &__tracks {
        user-select: none;
        position: relative;
        flex: 1 1 auto;
    }

    &__bracket {
        user-select: none;
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 5px;
        margin-bottom: 29px;

        &::before {
            position: absolute;
            pointer-events: none;
            top: 0px;
            right: -7px;
            content: '';
            width: 0%;
            height: 219px;
            border-left: 2px solid black;
        }
    }

    &__bracket-instrument {
        user-select: none;
        font-family: 'TimesNewRoman';
        font-weight: 700;
        margin-right: 10px;
        margin-bottom: 4px;
    }

    &__bracket-img {
        pointer-events: none;
        user-select: none;
        height: 220px;
    }

    &__input {
        font-family: 'TimesNewRoman';
        font-weight: 700;
        font-size: 20px;
        text-align: center;

        outline: none;
        z-index: 1000;
        position: absolute;
        width: 30px;
        top: 5px;
        right: 5px;

        background: none;
        border: none;
        border-bottom: 1px solid black;
    }
}