.editor-drawer-top {
    user-select: none;
    padding: 20px 0;

    position: relative;
    z-index: 200;

    &__name {
        margin-top: 20px;
        font-family: 'TimesNewRoman';
        font-weight: 700;
        text-align: center;
        font-size: 52px;
    }

    &__subtitle {
        margin-top: 25px;
        font-family: 'TimesNewRoman';
        font-weight: 700;
        text-align: center;
        font-size: 28px;
    }

    &__author {
        margin-top: -32px;
        font-family: 'TimesNewRoman';
        font-weight: 700;
        text-align: right;
        font-size: 22px;
    }
}