.editor-drawer-note {
    font-family: Maestro;
    user-select: none;
    position: absolute;
    height: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    &._edit {
        z-index: 1000;
        pointer-events: none;
    }

    &._margin {
        margin-left: 15px;

        &:nth-child(2n + 1) {
            margin-left: 0;
        }

        &:nth-child(2n) {
            .editor-drawer__note-half {
                left: -30px;
            }
        }
    }

    &__img {
        z-index: 200;
        filter: grayscale(100%);
        pointer-events: none;
        height: 12px;
        width: 18px;

        transform: rotate(-20deg);
    }


    &._rotated {
        transform: rotateX(180deg);
    }

    &._edit {
        z-index: 1000;
        filter: invert(40%);
        &::after{
            z-index: 1000;
        }
    }

    &._top {
        &::after {
            bottom: 7px;
            right: 0px;
        }
    }

    &._bottom {
        &::after {
            top: 7px;
            left: 0px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 36px;
        background: black;
    }

    &__flat,
    &__sharp,
    &__natural {
        pointer-events: none;
        user-select: none;
        font-family: 'Maestro';
        font-size: 40px;
        line-height: 0;
        height: 40px;

        position: absolute;

        left: -12px;
        top: -3px;

        &._margin {
            left: -36px;
        }
    }

    &__natural {
        font-size: 52px;
        top: -7px;
    }

    &__line,
    &__line-edit {
        z-index: 100;
        pointer-events: none;
        position: absolute;
        top: 5px;
        left: -2px;
        width: 23px;
        height: 2px;

        background: black;
    }

    &__line-up,
    &__line-up-edit {
        z-index: 100;
        position: absolute;
        top: -1px;
        left: -2px;
        width: 23px;
        height: 2px;

        background: black;
    }

    &__line-down,
    &__line-down-edit {
        z-index: 100;
        position: absolute;
        bottom: -1px;
        left: -2px;
        width: 23px;
        height: 2px;

        background: black;
    }

    &__line-edit,
    &__line-up-edit,
    &__line-down-edit {
        filter: invert(40%);
    }


    &__union {
        z-index: 80;
        pointer-events: none;
        position: absolute;
        background: white;
    }

    &__union-inner {
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: absolute;
        background: black;
    }

    &__union-line {
        z-index: 80;
        position: absolute;
        width: 2px;
        background: black;
    }
}